html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efe8da;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

#paper {
  box-shadow: 0px 10px 30px #6b2e5325;
  margin: auto;
  width: 845px;
  max-width: 90vw;
  position: relative;
  overflow: hidden;
}

#invitacion {
  width: 100%;
  height: auto;
}

#audio-controls {
  position: absolute;
  top: 13.30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#audio::-webkit-media-controls-panel {
  background-color: #fbfbfb;
}

.link {
  font-family: "prata", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: italic;
  margin-inline: auto;
  text-decoration: none;
  color: #f8f3f1;
  transition: color ease-in-out 0.2s;
}

.link:hover {
  color: #856547ff;
}

#ubicacion {
  position: absolute;
  top: 50.96%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#restaurante {
  position: absolute;
  top: 59.10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dresscode {
  position: absolute;
  top: 72.69%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#asistencia {
  font-family: "prata", serif;
  position: absolute;

  top: 90.17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#asistenciaInput {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#asistenciaButton {
  height: 100%;
  padding: 25% 25%;
  color: gray;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#asistenciaButton:hover {
  color: white;
  background-color: #aaa3c2;
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

#countdown {
  position: absolute;
  top: 32.50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "prata";
  color: #ebbc47ff;
  width: 75%;
}

#countdown .container {
  display: flex;
  flex-flow: column;
  text-align: center;
}

#countdown div div {
  color: #8B4E70;
}

#cuenta {
  font-family: "prata", serif;
  font-size: 13px;
  color: #F59905;
  text-decoration: none;
  position: absolute;
  top: 96.45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
