html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7ebd2;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

#paper {
  /*background-image: url('../assets/bg.jpg');*/
  /*background-size: contain;*/
  box-shadow: 0px 10px 30px #6b2e5325;
  margin: auto;
  /*height: 3500px;*/
  /*min-height: 90dvh;*/
  width: 845px;
  max-width: 90vw;
  position: relative;
  overflow: hidden;
}

#invitacion {
  width: 100%;
  height: auto;
}

.link {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: italic;
  /*font-size: 16px;*/
  margin: auto;
  text-decoration: none;
  color: #f8f3f1;
  transition: color ease-in-out 0.2s;
}

.link:hover {
  color: #ffb835;
}

#ubicacion {
  position: absolute;
  top: 44.95%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color:#ff0000 ;*/
}
